<article id="contact">
    <div class="formContainer">
<h1> Your Vehicles Services </h1>
<%= link_to("Add new service", new_service_path) %>
<br />
<br />
<br />

    <% @services.each do |service| %>
    <li><%= service.vehicle.make %> - <%= service.vehicle.model %></li>
    <li><%= link_to service.date, service_path(service) %></li>
    <li><%= service.work_description%></li>
    <br />
    <br />
<% end %>
</div>
</article>


<!-- create_table "services", force: :cascade do |t|
  t.string "date"
  t.string "work_description"
  t.integer "car_miles"
  t.integer "work_hours"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
