<article id="contact">
    <div class="formContainer">
    <h1> Add New Service </h1>

    <%= form_for(@service) do |f| %>
    <%= f.label "Date:" %>
    <%= f.text_field :date, class: "textfields" %>
    <br />
    <%= f.label "Work Description:" %>
    <%= f.text_area :work_description, class: "areafield" %>
    <br />
    <%= f.label "Miles at time of service:" %>
    <%= f.number_field :car_miles, class: "textfields" %>
    <br />
    <%= f.label "Work hours:" %>
    <%= f.number_field :work_hours, class: "textfields" %>
    <br />
    <br />
    <%= f.label "Choose Vehicle:" %>
    <%= f.collection_select(:vehicle_id, @vehicles, :id, :model) %>
    <br />
    <br />
    <%= f.label "Chose Part:" %>
    <%= f.collection_select(:part_id, @parts, :id, :part_name) %>
    <p><%= f.label "(If part is not shown, please add part)" %><%= link_to("New Part", new_part_path) %></p>
    <ul class="actions">
        <%= f.submit "Submit", class: "inputs" %>
    </ul>
    <% end %>

    <%= link_to 'Back to Services', services_path(@services) %>
    </div>
</article>
