<article id="contact">
    <div class="formContainer">
<h1> Service Info </h1>

<table>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Current Miles</th>
        <th>Work Hours</th>
    </tr>
    <tr>
        <td><%= @service.date %></td>
        <td><%= @service.work_description %></td>
        <td><%= @service.car_miles %></td>
        <td><%= @service.work_hours %></td>
    </tr>
</table>
<br />

<%= link_to 'Show All Services', services_path(@services) %>

</div>
</article>
