<h1>New Part</h1>

<%= form_for @part do |f| %>
    <p> Part Number: <%= f.text_field :part_number %></p>
    <p> Part Name: <%= f.text_field :part_name %></p>
    <p> Cost: <%= f.text_field :cost %></p>
    <p> Part Designation: <%= f.text_field :part_designation %></p>
    <p> Quantity: <%= f.number_field :quantity %></p>
    <p> Vendor: <%= f.collection_select(:vendor_id, @vendors, :id, :name) %> </p>
    <%= f.submit "Submit" %>
<% end %>
