<article id="contact">
    <div class="formContainer">

<h1> Part Info </h1>

<table>
    <tr>
        <th>Part Number</th>
        <th>Part Name</th>
        <th>Part Type</th>
        <th>Quantity</th>
        <th>Cost</th>
    </tr>
    <tr>
        <td><%= link_to @part.part_number, part_path(@part) %></td>
        <td><%= @part.part_name %></td>
        <td><%= @part.part_designation %></td>
        <td><%= @part.quantity %></td>
        <td><%= @part.cost %></td>
    </tr>
</table>
<br />

<%= link_to 'Show All Parts', parts_path(@parts) %>

</div>
</article>
