<article id="contact">
    <div class="formContainer">

<h1>Signup!</h1>

<!-- < form_for @owner, url: '/owners' do |f| %> -->
<%= form_for @owner do |f| %>
    <p> Name: <br /><%= f.text_field :name, class: "textfields" %></p>
    <p> Street: <br /><%= f.text_field :street, class: "textfields" %></p>
    <p> City: <br /><%= f.text_field :city, class: "textfields" %></p>
    <p> State: <br /><%= f.text_field :state, class: "textfields" %></p>
    <p> Zip: <br /><%= f.text_field :zip, class: "textfields" %></p>
    <p> Phone Number: <br /><%= f.text_field :phone_number, class: "textfields" %></p>
    <p> Email: <br /><%= f.text_field :email, class: "textfields" %></p>
    <p> Username: <br /><%= f.text_field :username, class: "textfields" %></p>
    <p> Password: <br /><%= f.password_field :password_digest, class: "textfields" %></p>
    <p> Password Confirmation: <br /><%= f.password_field :password_confirmation, class: "textfields" %></p>
    <ul class="actions">
        <%= f.submit "Submit", class: "inputs" %>
    </ul>
<% end %>
</div>
</article>

<!-- create_table "owners", force: :cascade do |t|
  t.string "name"
  t.string "street"
  t.string "city"
  t.string "state"
  t.integer "zip"
  t.string "phone_number"
  t.string "email"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
