<h1> Owners Show Page </h1>

<table>
    <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Phone Number</th>
        <th>Email</th>
        <!-- <th>Cars</th> ???????????????????????-->
        <!-- <th colspan="2"> Super Power</th> -->
    </tr>
    <tr>
        <td><%= @owner.name %></td>
        <td><%= @owner.street %></td>
        <td><%= @owner.city %></td>
        <td><%= @owner.state %></td>
        <td><%= @owner.zip %></td>
        <td><%= @owner.phone_number %></td>
        <td><%= @owner.email %></td>
        <!-- <td>< @owner.cars?????????????????? %></td> -->
    </tr>
</table>
<br />

<% @vehicles.each do |v|%>
<p><%= v.make %> <%= v.model %></p>
<% end %>

Total hours of service on vehicles: <%= @total_hours %>
Total cost of all parts: <%= @total_cost %>

<%= link_to("Edit Profile", edit_owner_path(current_user.id)) %>

<!-- create_table "owners", force: :cascade do |t|
  t.string "name"
  t.string "street"
  t.string "city"
  t.string "state"
  t.integer "zip"
  t.string "phone_number"
  t.string "email"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
