<h1>Vendors New Page</h1>

<%= form_for @vendor do |f| %>
    <p> Name: <%= f.text_field :name %></p>
    <p> Contact: <%= f.text_field :contact %></p>
    <p> Website: <%= f.text_field :website %></p>
    <p> Location:: <%= f.text_field :location %></p>
    <%= f.submit "Submit" %>
<% end %>

<%= link_to 'Back to Vendors', vendors_path(@vendors) %>

<!-- create_table "vendors", force: :cascade do |t|
  t.string "name"
  t.string "contact"
  t.string "website"
  t.string "location"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
