<h1>Vehicles Show Page</h1>


<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Vin Number</th>
        <th>Engine</th>
        <th>Car Type</th>
        <th>Color</th>
    </tr>
    <tr>
        <td><%= @vehicle.make %></td>
        <td><%= @vehicle.model %></td>
        <td><%= @vehicle.year %></td>
        <td><%= @vehicle.vin %></td>
        <td><%= @vehicle.engine %></td>
        <td><%= @vehicle.car_classification %></td>
        <td><%= @vehicle.color %></td>
    </tr>
</table>
<br />

<% @services.each do |s| %>
  <p><%= s.date %>
  <%= s.work_description %>
  <%= s.car_miles %>
  <%= s.work_hours %></p>
<% end %>

Total cost of services on this vehicle: <%= @total_hours_of_service %>
Total cost of parts serviced on this vehicle: <%= @total_cost %>

<% @part_list.each do |p| %>
<p><%= p.part_name %></p>
<% end %>

<% @vendors.each do |v| %>
<p><%= link_to(v.name, vendor_path(v)) %></p>
<% end %>

<h1>testing stuff</h1>
<%= @cost_of_part_designations %>

<%= link_to("New Service", new_service_path) %>
<%= link_to("Edit vehicle", edit_vehicle_path(@vehicle)) %>
<%= link_to 'Show All Vehicles', vehicles_path(@vehicles) %>


<!-- create_table "vehicles", force: :cascade do |t|
  t.string "make"
  t.string "model"
  t.integer "year"
  t.string "vin"
  t.string "engine"
  t.string "car_type"
  t.string "color"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
