<%= link_to("New Service", new_service_path) %>
<%= link_to("Edit vehicle", edit_vehicle_path(@vehicle)) %>
<%= link_to 'Show All Vehicles', vehicles_path(@vehicles) %>
<article id="contact">
    <div class="formContainer">
<h2><%= @vehicle.make %> - <%= @vehicle.model %> Comprehensive Information </h2>


<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Vin Number</th>
        <th>Engine</th>
        <th>Car Type</th>
        <th>Color</th>
    </tr>
    <tr>
        <td><%= @vehicle.make %></td>
        <td><%= @vehicle.model %></td>
        <td><%= @vehicle.year %></td>
        <td><%= @vehicle.vin %></td>
        <td><%= @vehicle.engine %></td>
        <td><%= @vehicle.car_classification %></td>
        <td><%= @vehicle.color %></td>
    </tr>
</table>
<br />
</div>
</article>

<article id="contact">
    <div class="formContainer">
        <h4> All Services </h4>

<% @services.each do |s| %>
<br />
  <p>Date: <%= link_to s.date, service_path(s) %></p>
  <p><%= s.work_description %></p>
  <p>Miles When Serviced: <%= s.car_miles %></p>
  <p>Hours of Service: <%= s.work_hours %></p>
<% end %>
</div>
</article>

<article id="contact">
    <div class="formContainer">
Total hours of services on this vehicle: <%= @total_hours_of_service %>
<br />
Total cost of parts serviced on this vehicle: $<%= @total_cost %>.00
</div>
</article>

    <article id="contact">
        <div class="formContainer">
            <h4> Serviced Parts & Vendors </h4>
                <% @part_list.each_with_index do |p, i| %>
                    <p><%= p.part_name %> : <%= link_to @vendors[i].name, vendor_path(@vendors[i]) %></p>
                <% end %>
            <h4> Vehicle Service Price Breakdown </h4>
            <% @cost_of_part_designations.each do |k, v| %>
                Total Cost of <%= k %> parts: $<%= v.to_f %>0<br />
            <% end %>
        </div>
    </article>



<!-- create_table "vehicles", force: :cascade do |t|
  t.string "make"
  t.string "model"
  t.integer "year"
  t.string "vin"
  t.string "engine"
  t.string "car_type"
  t.string "color"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end -->
