<!DOCTYPE html>
<html>
  <head>
    <title>CarCostsLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if session[:owner_id] %>
    <%= link_to("Logout", logout_path, method: :delete) %>
  <% else %>
    <%= link_to("Login", login_path) %>
  <% end %>

  <!-- flash notice -->

  <%= link_to("Vehicles", vehicles_path) %>
  <%= link_to("Parts", parts_path) %>
  <%= link_to("Vendors", vendors_path) %>
  <%= link_to("Services", services_path) %>

  <body>
    <%= yield %>
  </body>
</html>
